Figur-3-total-IFR-error-Ix-prop-change-latest-common-date-20210304.pdf
Figur-3-total-IFR-error-Ix-prop-change-latest-common-date-20210304.svg
Figure-1-total-IFR-global-dist-over-time-20210216.pdf
Figure-1-total-IFR-global-dist-over-time-20210216.svg
Figure-2-total-IFR-median-performance-v2-median-pop-age-20210322.pdf
Figure-2-total-IFR-median-performance-v2-median-pop-age-20210322.svg
Figure-3-total-IFR-difference-by-sex-20210323.pdf
Figure-3-total-IFR-difference-by-sex-20210323.svg
Figure-3-total-IFR-latest-common-date-log-scale-20210217.pdf
Figure-3-total-IFR-latest-common-date-log-scale-20210217.svg
Figure-4-total-IFR-difference-reported-vs-excessDeaths-20210321.pdf
Figure-4-total-IFR-difference-reported-vs-excessDeaths-20210321.svg
