WPP2019_POP_F05_MEDIAN_AGE.xlsx
WPP2019_MORT_F17_3_ABRIDGED_LIFE_TABLE_FEMALE.xlsx
WPP2019_MORT_F17_2_ABRIDGED_LIFE_TABLE_MALE.xlsx
WPP2019_MORT_F17_1_ABRIDGED_LIFE_TABLE_BOTH_SEXES.xlsx
WPP2019_INT_F03_3_POPULATION_BY_AGE_ANNUAL_FEMALE.xlsx
WPP2019_INT_F03_2_POPULATION_BY_AGE_ANNUAL_MALE.xlsx
COVerAGE-DB
ex_major_countries_Levin_pop_weight_TR.R
ex_major_countries_Levin_TR.R
